{
  "proseWrap": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["**/presentation.md"],
      "options": {
        "parser": "slidev",
        "plugins": ["prettier-plugin-slidev"]
      }
    }
  ]
}
